body{
    background: url('../img/rojo.jpg');
    background-attachment: fixed ; /* mantengo fondo siempree si hay scroll*/
}

#logo{
    background: #CA3413;


}

#menu ul li:hover{
    background: #CA3413;
}

.button-more{

    background: #CA3413 ;


}